/* 
    assets/css/style.css 
    Este archivo actua como hoja de ruta para el archivo index.html, importando en orden cronologico 
    (a partir del orden en que coloque las importaciones) los diferentes archivos CSS.
*/

/* 1. Reiniciar estilos por defecto del navegador y definir variables globales */
@import url("./base/reset.css");
@import url("./base/vars.css");
@import url("./base/global.css");

/* 2. Componentes reutilizables */
@import url("./components/buttons.css");
@import url("./components/modals.css");
@import url("./components/lightbox.css");

/* 3. Estilos de layout (contenedores principales) */
@import url("./layout/header.css");
@import url('./layout/footer.css');

/* 4. Estilos de secciones */
@import url("./sections/hero.css");
@import url("./sections/services.css");
@import url("./sections/projects.css");
@import url("./sections/safety-west.css");
@import url("./sections/testimonials.css");
@import url("./sections/faq.css");
@import url("./sections/contact.css");